<?xml version="1.0"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd "
	version="2.4">

	<description>ngbf-p-process</description>
	<!-- Spring Servlet For REST Service  -->
	<servlet>
		<servlet-name>spring-rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>ngbf-spring-mvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>weixin</servlet-name>
		<servlet-class>com.coo.u.lyfcb.wx.servlet.LyfcbServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>weixin</servlet-name>
		<url-pattern>/servlet/weixin</url-pattern>
	</servlet-mapping>
	<!-- 隐掉,匹配过大
	<servlet-mapping>
		<servlet-name>spring-rest</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	-->
</web-app>
